<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <title>Download Video</title>
  </head>
  <body>
    <h1>Download de Video ou Audio</h1>
    <form id="downloadForm">
      <label for="link">Link do Video:</label>
      <input type="text" id="link" name="link" required /><br /><br />

      <label for="path">Local do Download:</label>
      <input type="text" id="path" name="path" required /><br /><br />

      <label for="downloadType">Tipo de Download:</label>
      <select id="downloadType" name="downloadType" required>
        <option value="video">Video (MP4)</option>
        <option value="audio">Audio (MP3)</option></select
      ><br /><br />

      <button type="button" onclick="download()">Download</button>
    </form>

    <div id="message" style="margin-top: 20px; font-weight: bold"></div>

    <script>
      async function download() {
        const link = document.getElementById("link").value;
        const path = document.getElementById("path").value;
        const downloadType = document.getElementById("downloadType").value;
        const messageDiv = document.getElementById("message");

        messageDiv.textContent = "";

        try {
          const response = await fetch("/download", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ link, path, download_type: downloadType }),
          });

          const result = await response.json();

          if (response.ok) {
            messageDiv.style.color = "green";
            messageDiv.textContent = "Download concluído com sucesso!";
          } else {
            messageDiv.style.color = "red";
            messageDiv.textContent = "Erro: " + result.message;
          }
        } catch (error) {
          messageDiv.style.color = "red";
          messageDiv.textContent = "Erro de rede: " + error.message;
        }
      }
    </script>
  </body>
</html>
